*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
  background-image: url('../src/Image5.jpg');
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
header {
  font-size: 2rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}
form button {
  color: #ff6f47;
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: #ff6f47;
  color: white;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}
.filter-todo {
  padding: 1rem;
}
.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: #ff6f47;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  background: rgb(11, 212, 162);
}
.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
  
}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;
  margin-top: -03px;
}
select {
  color: #ff6f47;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 25rem;
  
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #ff6f47;
  cursor: pointer;
  pointer-events: none;
}
.todo-input {
  width: 400px;
  height: 46px;
  border-radius: 6px;
  font-size: 20px;
  position:relative;
  background-color: rgba(255, 255, 255, 1);
  transition: 0.3s all;
  text-align: center;
  opacity: 1;
  
}
.todo-input1 {
  width: 200px;
  height: 46px;
  border-radius: 6px;
  font-size: 20px;
  position:relative;
  background-color: rgba(255, 255, 255, 1);
  transition: 0.3s all;
  text-align: center;
  opacity: 1;
  
}
.logintext{

color: rgb(247, 11, 11);
padding-top: 14px;
margin-right: 330px;
size: 12px;
}

.formtext{

  color:#ff6f47;
  padding-top: 14px;
  margin-left: 40px;
  margin-right: 10px;
  }
  .selecttext{

    color:#ff6f47;
    padding-top: 14px;
    margin-left: 10px;
    margin-right: 10px;
    }
.Logininput{

  display: flex;
  flex-direction: column;
  align-items:center;
  
}
.submitbutton{

  display: flex;
  flex-direction: column;
  align-items:center;
  
}
.btn{

 font-size:14px;
 background-color: rgb(34, 145, 182);
 width: 300px;
 height: 50px;
 margin-left: 0px;
 transition-duration: 0.4s;

}
.btn:hover{
  background-color: rgb(30, 170, 182);
}
.map{

  height: 800px;
  width: 700px;
  border-radius: 10pc;
 
}
.map12{

  height: 350px;
  width: 300px;
  border-radius: 10pc;
 
 
}
.Mapcontainer{

  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  margin-bottom: 30px;
  border: 200 !important;
  border-radius: 6px;
  border-color: black;
 

}
.Logininput-class{

  display: flex;
  background-color: rgb(39, 7, 7,0.3);
  flex-direction: column;
  justify-content: center;
  align-self: center;
  height:400px;
  width: 500px;
  border-radius: 6px;
  border: 200 !important;
  
  
  
}